<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site PW</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <script src="../js/bootstrap.js"></script>
</head>

<body>
  <div class="header1">
    
    <img class="imagemLogo" src="../img/Logo.jpeg" alt="logo" height="350px" width="400px" left="400px" margin-left="auto" >
    
  </div>
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
        <div class="container-fluid"></div>

        
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon">
            </span>
            </button>
            
            <a class="navbar-brand" href=""></a>
        </button>
        


        <a class="navbar-brand"> </a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          
        </form>
      </nav>

  

      
      <div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 bg-light" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 280px;">
        <div class="b-example-divider"></div>


        
          <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="../img/usuario.png" alt="" width="50" height="50" class="rounded-circle me-4">
            <span class="fs-4">Menu</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="index.html" class="nav-link active" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                  </svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                Noticia 1
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                Noticia 2
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                Noticia 3
              </a>
            </li>
            <li>
              <a href="suporte.html" class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                Suporte
              </a>
            </li>
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../img/usuario.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>eu</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        

        
      </div>


       <div class="conteudo"> <div class="col-sm p-3 min-vh-100">

      <div class="col-sm p-3 min-vh-100">
        <div class="conteudoCad">
          <div class="col-sm p-3 min-vh-100">

            <form class="row g-3">

              <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label">Nome</label>
                <input type="name" class="form-control" id="exampleInputEmail1" placeholder="nome">
              </div>
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="exampleInputEmail1" class="form-label">Sobrenome</label>
                  <input type="name" class="form-control" id="exampleInputEmail1" placeholder="sobrenome">
                </div>


                <div class="col-md-6">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputPassword1" class="form-label">Confirme a senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirmar senha">
                </div>
                <div class="col-md-6">
                  <label for="exampleInputEmail1" class="form-label">Endereço de email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="email">
                  <div id="emailHelp" class="form-text">Nós não iremos compartilhar seu email com ninguém.</div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
                </div>
              </form>

              <div class="input-group col-md-6">
                <label class="input-group-text" for="inputGroupSelect01">Gênero</label>
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Masculino</option>
                  <option value="1">Feminino</option>
                  <option value="2">Prefiro não informar</option>
                </select>
              </div><br>

              <form>
                <div class="input-group col-md-6">
                  <label class="input-group-text" for="inputGroupSelect01">Preferência de conteúdo</label>
                  <select class="form-select" id="inputGroupSelect01">
                    <option selected>Futebol</option>
                    <option value="1">Basquete</option>
                    <option value="2">Vôlei</option>
                    <option value="3">Outros...</option>
                  </select>
                </div>

                <div class="col-auto my-1">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing">Lembrar minha preferencia</label>
                  </div>
                </div>

                <div class="col-auto my-1"><br>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
          </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>
  </div>
  <footer class="bg-dark text-light">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-4">
          <ul class="nav flex-column">
            <li class="nav-link"><a href="index.html">Retornar ao blog</a></li>
            <li class="nav-link"><a href="suporte.html">Suporte</a></li>
            <li class="nav-link"><a href="cadastro.html">Login</a></li>
          </ul>
        </div>
        <div class="col-8">
          
          <ul class="nav">
            <li class="nav-link"><i class="fab fa-facebook fa-3x "></i></li>
            <li class="nav-link"><i class="fab fa-instagram fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-twitter fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-whatsapp fa-3x"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center" style="background-color: #333; padding: 20px;">
      &copy 2022 Copyright: <a href="index.html">Blog de Esportes</a>
    </div>
  </footer>
</body>

</html>